@import url("https://fonts.googleapis.com/css2?family=Anton&family=Fredoka+One&family=Josefin+Sans:ital,wght@1,700&family=Lobster&family=Outfit:wght@300;400;600&family=Rowdies:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}
.container{
    width: 100vw;
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 4rem;
}
.card{
    width: 20rem;
    height: 35rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(216, 50%, 16%);
}
.box{
    width: 18rem;
    height: 32rem;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    background-color: hsl(178, 100%, 50%) ;
}
img.nft{
    width: 18rem;
    height: 18rem;
    border-radius: 1rem;
}
img.nft:hover{
    opacity: 0.5;
}
.title{
    font-weight: 600;
    color: white;
    margin-bottom: 1rem;
    font-size: 25px;
    cursor: pointer;
}
.title:hover{
    color: hsl(178, 100%, 50%) ;
}
.description{
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    font-size: 15px;
    margin-bottom: 1rem;
}
.information{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.cash{
    color: hsl(178, 100%, 50%) ;
    display: flex;
    align-items: center;
    
}
.iconEthereum{
    width: 17px;
}
.day{
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
}
.oclock{
    width: 17px;
}
hr{
    border-color: hsl(215, 51%, 70%);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.footer{
    display: flex;
    align-items: center;
    color: hsl(215, 51%, 70%);
}
img.circle{
    border: 1px solid rgb(255, 255, 255);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.autor{
    margin-left: 0.5rem;
    font-size: 15px;
}
.autor span{
    font-size: 18px;
    font-weight: 700;   
    color: white;
    cursor: pointer;
}
.autor span:hover{
    color: hsl(178, 100%, 50%) ;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  position: relative;
  top: 7rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}